@import '~ant-design-vue/es/style/themes/default.less';

html,
body,
#app, #root {
  height: 100%;
  background-color: #151515 !important;
}

.colorWeak {
  filter: invert(80%);
}
.ant-pro-sider-menu-logo{
  background-color: #111111;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #111111;
}
.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
  background-color: #151515 !important;
}
.ant-layout-sider {
  background-color: #111111;
}
.ant-pro-global-header{
  background-color: #151515;
}
.ant-layout-footer{
  padding:0;
}
.ant-layout-header, .ant-pro-global-header{
  height: 47px;
}
.ant-pro-basicLayout-content {
  margin: 0;
}

.ant-layout{
  background-color: #151515 !important;
}
.ant-pro-page-header-wrap-page-header-warp {
  background-color: black !important;
}
.ant-pro-page-header-wrap-children-content {
  margin: 0;
}
.ant-pro-basicLayout-content .ant-pro-page-header-wrap {
  margin: 0;
}
.ant-pro-page-header-wrap-page-header-warp{
 height: 0px;
}
.ant-pro-basicLayout-children-content-wrap{
  height: 100vh;
}

.anticon{
  font-size: 22px !important;
  margin-left: -5px !important;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {

  .ant-form-inline {
    .ant-form-item {
      display: flex;
      // margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }
      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    // margin-bottom: 24px;
    white-space: nowrap;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
